page-home {

}

.item{
    display: flex; 
    align-items: flex-start;
}

.item-description{
    margin-top: 20px !important;
}

.new-item{
    position: fixed !important; 
    top: 82px !important;
}